/*This is an external CSS file*/
/*Name: Victor Javier Del Rio Foces
HW number:  HW3 
Date: 01/10/2021.
*/

body{ 
	background-color: /*#8a8a8a*/whitesmoke;
}
button{
	background-color: white;
	border: dashed;
	border-color: #ff66cc;
	border-width: 5px;
	padding: 15px 25px;
	font-size: 22px;
	text-align: center;
	display: inline-block;
	margin: 30px;
}

h1{text-align: center; color: /*#ce0909*/#3366ff; font-size: 50px; font-family: monospace;}
h2{
	text-align: left; color: #3366ff; font-size: 30px; font-family: sans-serif;
}

#picSlide{
	text-align: center;
}

#aboutMe{
	margin: 40px;
}
#topBanner{
	background-color: /*#3366ff*/#525256;
	border-color: #525256;
	border-style: solid;
	border-width: 15px;
	margin-bottom: -45px;
	margin-right: -10px;
	margin-left: -10px;
}
#bannerImg{
	align-content: left;
}
#bannerMenu{
	align-content: right;
	text-align: right;
}

a{
		text-decoration: none;
		color: white;
}

ul {
    display: inline;
    width: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: right;
    margin-right: 10px;
    font-size: 25px;
    font-family: monospace;
}

li{
	display: inline;
}
